<div style="text-align:center">
    <h1>
        Welcome to this blog !
    </h1>
</div>
<!-- à vérifier -->
<nav class="navbar nabvar-default">
<div class="container-fluid">
<ul class="nav navbar-nav">
<li routerLinkActive="active"><a routerLink="posts">Posts</a></li>
<li routerLinkActive="active"><a routerLink="new-post">Nouveau Post</a></li>
</ul></div></nav>
<!-- fin -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <router-outlet></router-outlet>
    </div>
  </div>
</div>


  




